.container{
  display: flex;
  flex-direction: row;
  height: 50vh;
  width: 100%;
  background-color: rgb(39, 39, 39);
  color: rgba(218, 218, 218, 0.935);
  img{
    filter: grayscale(100%);
    mask-image: linear-gradient(to right, black, transparent);
  }
  div{
    padding: 5%;
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
    h2{
      color: red;
      font-size: 40px;
      margin: 2% 0%;
    }
    p{
      font-size: 20px;
    }
  }
}